/* CartPage.css */
.cart-page {
    padding: 20px;
    height: 100%;
    color:  #fcfce4;
  }
  
  .cart-items {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .cart-item {
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    margin: 20px;
    border-top: 1px solid #666666;
    transform: translateX(-10px);
  }
  
  .cart-item-image {
    width: 130px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
    transform: translateX(-10px);
  }
  
  .cart-item-details {
    display: flex;
    flex-direction: column;
    align-items:start;
  
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
    margin-top: 10px;
    /* transform: translateX(-3px); */
  }
  
  .quantity-controls button {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .quantity-controls span {
    margin: 0 10px;
  }
  
  .total-cost {
    margin-top: 20px;
    justify-content: end;
    align-items: end;
    justify-self: end;
    bottom: 5;
  }

  .check_out {
    width: 20%;
    font-size: large;
    background-color: rgb(57, 57, 57);
    border: #666666;
    padding: 10px;
    color:  #fcfce4;
    border-radius: 10px;
  }

  .check_out:hover {
    cursor: pointer;
    background-color: #63636385;
  }