/* favorites.css */
#root {
    margin: 0 auto;
    text-align: center;
    color:  #fcfce4;
  }
  
  .favorites-page {
    margin-top: 80px;
  }
  
  .favorite-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: start;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .favorite-item {
    width: 200px;
    border: 1px solid  #7fc37e41;
    background: #1e1e1e;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.2);
    margin: 20px;
    padding: 0px;
    text-align: center;
  }
  
  .favorite-item-image {
    width: 100%;
    height: 276px;
    margin-bottom: 5px;
  }
  
  .favorite-item-details {
    width: 100%;
  }
  
  .favorite-item-details p {
    margin: 5px 0;
    height: 40px;
  }
  
  .favorite-item-details button {
    background-color:  #4e784d;  
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
  }
  
  .favorite-item-details button:hover {
    background-color:  #9ccd9bd3;
  }
  
  .total-cost {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
  }