#root {
    /* max-width: 1280px; */
    margin: 0 auto;
    /* padding: 2rem; */
    text-align: center;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content:start;
    margin-left: 30px;
    margin-right: 30px;
  }


  .product-image {
    width: 100%;
    height: auto;
  }
  
  .product-title {
    color: #333;
    font-size: 22px;
  } 
   
  .product-description {
    color: #666;
    font-size: 16px;
  }
  
  .product-price {
    color: #777;
    font-size: 18px;
    margin: 16px 0;
  }
  
  .add-to-cart-button {
    background-color: #1d6827;
    color:  #fcfce4;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    margin: 16px 0;
  }
  
  .add-to-cart-button:hover {
    background-color: #113d16;
  }
  
  .corp {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
  }

  .top_info {
    margin-top: 80px;
    color: #fcfce4;
    margin-left: 60px;
    margin-right: 90px;
    margin-bottom: 20px;
    display: flex;
    font-size: 3rem;
    line-height: 1.1;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    align-content: center;
  }

  .buttons button {
    color: #7fc37e;
    background: #33333300;
    border-color: #33333300;
  }

  .buttons button:hover {
    cursor: pointer;
    color: #fcfce4;
  }

  .menu {
    margin: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 220px;
    background: #1e1e1e;
  }

  .menu-title {
    margin-top: 10px;
    color: #fcfce4;
    /* margin-left: 90px; */
    /* margin-right: 90px; */
    display: flex;
    font-size: 2rem;
    line-height: 1.1;
  }

  .menu-sec-title {
    color:  #fcfce4;;
  }
  .menu-box {
    width: 190px;
    padding: 16px;
    flex-direction: column;
    gap: 10px;
    display: flex;
    align-items: start;
    align-content: flex-start;
    border: 1px solid #7fc37e;
    background: #32323294;
  }

  .menu-top {
    color: #fcfce4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:100px;
  }

  .menu-top button {
    height: 24px;
    padding: 5px;
    color: #fcfce4;
    border-radius: 3px;
    align-self: flex-end;
    background: none;
    border:0.01px solid #e9e9e937;
  }

  .menu-top button:hover {
    cursor: pointer;
    color: #5a8957;
    background: #fcfce4;
  }