.product {
    display: flex;
    width: 300px;
    height: 100px;
    flex-direction: row;
    padding: 10px;
    border-bottom: 2px solid #343434;
    border-top: 2px solid #343434;
    background-color: #3b3b3b;;
    transform: translateX(-200px);
    color:  #fcfce4;
  }
  
  .product-img {
    width: 22%;
    height: 90px;
    /* margin-right: 10px; */
  }
  
  .product-details {
    display: flex;
    color:#fcfce4;
    flex-direction: column;
    justify-content: left;
  }
  
  .product-title {
    font-size: 10px;
    margin: 0;
    color: #fcfce4;
    width: 50%;
  }
  
  .product-price, .product-quantity {
    font-size: 8px;
    margin: 0;
  }
  